h1,.one{
    text-align: center;
}

.btn{
    margin-top: 4%;
    text-align: center;
}
.one{
    margin-top: 6%;
}
#result{
    margin-top: 5%;
    margin-left: 70%;
}
p{
    margin-left: 25%;
    
}
input{
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    width: 200px;
}
button{
    padding: 5px;
    border-radius: 10px;
}
button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
body{
    background:linear-gradient(to right, grey,black);
}