h1,td,h3{
    text-align: center;
}
a{
    text-decoration: none;
    color: orange;
}
table.center{
   margin-left: auto;
   margin-right: auto;
   width: 500px;
   border-color: black;
}
.header{
    background-color: blue;
}
th{
    color: gray;
}
.Name{
    color: black;
}
.link,.practice{
    color: black;
}
